.slideshow {
    margin: 0 auto;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    position: relative;
    margin-top: 2.6vh;
    margin-bottom: 2.6vh;
    box-shadow: 0px 5px 12px rgba(78, 78, 77, 0.384), 0px -5px 12px rgba(78, 78, 77, 0.397);
}
.slide {
    width: 19vw;
    height: auto;
}
.slide_width {
    width: 33.8vw;
    height: auto;
}
.span_doc {
    color: #f1ede3;
    opacity: 0.6;
}
.arr__down {
    z-index: 10;
    width: 1.5vw;
    height: 1.5vw;
    position: absolute;
    margin-top: -2.5vh;
    margin-left: -0.6vw;
    cursor: pointer;
    opacity: 0.6;
}
.arr__top {
    z-index: 10;
    width: 1.5vw;
    height: 1.5vw;
    position: absolute;
    margin-top: -2.8vh;
    margin-left: -0.6vw;
    cursor: pointer;
    transform: rotateX(180deg);
    opacity: 0.6; 
}
/* tablet */
@media only screen and (max-width: 768px) {
    .slideshow {
        margin-bottom: 1vh;
        margin-top: 1vh;
    }
    .slide {
        width: 32vw;
    }
    .slide_width {
        width: 57vw;
    }
}
/* mobile */
@media only screen and (max-width: 576px) {
    .slide {
        width: 45vw;
    }
    .slide_width {
        width: 80vw;
    }
}