.slideshow {
    margin: 0 auto;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    position: relative;
}
.d1 {
    margin-top: 2.6vh;
    margin-bottom: 2.6vh;
    box-shadow: 0px 5px 12px rgba(78, 78, 77, 0.384), 0px -5px 12px rgba(78, 78, 77, 0.397);
}
.slide {
    padding: 0.2vw;
    width: 20vw;
    height: 43.5vh;
}
.slide_width {
    padding: 0.2vw;
    width: 35vw;
    height: 43.5vh;
}

.doc__arr {
    z-index: 10;
    width: 3vw;
    height: 3vw;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
}
.right {
    margin-left: 96.7vw;
}
.span_doc {
    margin-left: 0vw;
    color: rgba(134, 134, 131, 0.918);
    opacity: 0.3;
}
.arr__down {
    z-index: 10;
    width: 1.5vw;
    height: 1.5vw;
    position: absolute;
    margin-top: 48.5vh;
    margin-left: -8.7vw;
    cursor: pointer;
    opacity: 0.6;
}
.arr__top {
    z-index: 10;
    width: 1.5vw;
    height: 1.5vw;
    position: absolute;
    margin-top: -2.8vh;
    margin-left: -0.6vw;
    cursor: pointer;
    transform: rotateX(180deg);
    opacity: 0.6; 
}