.body__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: 100vw;
    background-color: #100f0c;
    transition: ease 0.9s;
}
.body__title_img {
    width: 100vw;
    height: 100vh;
}
.body__title_arr {
    width: 3vw;
    height: 3vw;
    position: absolute;
    margin-top: 94vh;
    margin-left: -51.5vw;
    cursor: pointer;
    opacity: 0.6;
}
span {
    margin: -2vh 0;
    color: #f1ede3;
    opacity: 0.3;
}
.arr__down {
    z-index: 10;
    width: 1.5vw;
    height: 1.5vw;
    position: absolute;
    margin-top: 48vh;
    margin-left: -7vw;
    cursor: pointer;
    opacity: 0.6;
}
  