.body__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    background-color: #100f0c;
}
.body__title {

}
.body__title_img {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    margin-top: -50vh;
}
.body__title_arr {
    z-index: 10;
    width: 3vw;
    height: 3vw;
    position: absolute;
    margin-top: 43vh;
    margin-left: 48.5vw;
    cursor: pointer;
    opacity: 0.6;
}
.body__img__wrapper {
    margin-top: 224vh;
}