.contacts__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin-top: 25vh;
}
.img {
    width: 10vw;
    height: 23.5vh;
}
.contacts__title {
    font-size: 1.3rem;
    margin-bottom: 3vh;
    color: #181715dc;
}
.contacts__text {
    font-size: 1.3rem;
    margin-top: 5vh;
    color: #181715dc;
}
.contacts__links__wrapper {
    margin-top: 3vh;
    display: flex;
    align-items: center;
}
.contacts__span_links {
    color: #181715dc;
    padding: 0.5vw;
}
.contacts__links {
    color: #181715dc;
}
@media only screen and (max-width: 768px) {
    .img {
        width: 23vw;
    }
}