.contacts__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.img {
    width: 10vw;
    height: auto;
}
.contacts__title {
    position: absolute;
    bottom: 0;
    margin-bottom: 1vh;
    font-size: 1.2rem;
    color: #f1ede3;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.781);
}
.contacts__text {
    font-size: 1.3rem;
    color: #181715dc;
}
.contacts__links__wrapper {
    display: flex;
    align-items: center;
}
.contacts__span_links {
    color: #181715dc;
    padding: 0.5vw;
}
.contacts__links {
    color: #181715dc;
}
.heart {
    width: 1vw;
    height: 1vw;
    position: absolute;
    top: 0;
    margin-top: 25vh;
    margin-left:6vw;
}
.heart:nth-child(2) {
    margin-left: 4.5vw;
}
.heart:nth-child(3) {
    margin-left: 3vw;
}
.heart:nth-child(4) {
    margin-left: 3.5vw;
}
.heart:nth-child(5) {
    margin-left: 5.5vw;
}
@media only screen and (max-width: 768px) {
    .img {
        width: 30vw;
    }
}
@media only screen and (max-width: 576px) {
    .contacts__text {
        margin-top: 2vh;
        font-size: 1.6rem;
    }
    .img {
        width: 35vw;
    }
}