.doc__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: 100vw;
}
.doc__title_img {
    width: 100vw;
    height: 100vh;
}
.doc__title_arr {
    width: 3vw;
    height: 3vw;
    position: absolute;
    margin-top: 94vh;
    margin-left: -51.5vw;
    cursor: pointer;
    opacity: 0.6;
}
.doc__title_arr:hover {
    width: 3.5vw;
    height: 3.5vw;
}