.home__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  background-image: url('../img/home_title_rotate.jpg');
  background-size: 100vw 400vh;
  width: 100vw;
  background-color: rgb(161, 161, 161);
  transition: ease 0.9s;
  font-family: 'Oswald', sans-serif;
}
.doc__title_arr {
  width: 3vw;
  height: 3vw;
  position: absolute;
  margin-top: 22vh;
  cursor: pointer;
  opacity: 0.6;
}
.doc__title_arr2 {
  width: 3vw;
  height: 3vw;
  position: absolute;
  margin-top: 12vh;
  cursor: pointer;
  opacity: 0.6;
}
.doc__title_arr3 {
  width: 3vw;
  height: 3vw;
  position: absolute;
  margin-top: 92vh;
  cursor: pointer;
  opacity: 0.6;
  transform: rotateX(180deg);
}
.home_title__wrapper {
  height: 100vh;
  width: 100vw;
}
.home__text {
  margin-top: 22vh;
  color: #dbcfc0;
  text-shadow: 2px 6px 3px #000;
  font-size: 9rem;
  font-weight: 400;
  letter-spacing: -0.1rem;
  will-change: transform, opacity;
}
.home__text:nth-child(2) {
  margin-top: 1vh;
  font-weight: 200;
  font-size: 4.7rem;
}
.view_work__wrapper {
  margin-top: 12vh;
  color: #dbcfc0;
  text-shadow: 1px 1px 1px #000;
  font-size: 2.4rem;
  font-weight: 200;
  letter-spacing: -0.05rem;
  cursor: pointer;
}
.works {
  margin-top: -3vh;
}

.home_page1__wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: repeat(2, minmax(100px, 1fr));
  grid-gap: 0.5vw;
  cursor: pointer;
  will-change: width, height;
}
.item {
  max-width: 13vw;
  max-height: 30vh;
  will-change: transform, opacity;
}
.title__image1 {
  margin-right: 52vw;
  width: 35vw;
  height: 43vh;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(82, 78, 73, 0.589);
}
.title__image2 {
  margin-left: 55.5vw;
  width: 25vw;
  height: 58vh;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(82, 78, 73, 0.589);
}
.false {
  opacity: 0;
}
.click1 {
  position: absolute;
  left: 0;
  margin-top: 5vh;
  margin-left: -1vw;
  z-index: 10;
  width: 18vw;
  height: 15vw;
  filter: drop-shadow(3px 3px 5px rgba(82, 78, 73, 0.589));
}
.click2 {
  position: absolute;
  left: 0;
  margin-top: 5vh;
  margin-left: 83vw;
  z-index: 10;
  width: 18vw;
  height: 15vw;
  filter: drop-shadow(3px 3px 5px rgba(82, 78, 73, 0.589));
  transform: rotateY(180deg);
}
.home__span1 {
  position: absolute;
  right: 0;
  text-align: right;
  margin-right: 5.2vw;
  margin-top: -2vh;
  color: #dbcfc0;
  text-shadow: 1px 1px 1px #2b2b2b;
  font-weight: 200;
  font-size: 4rem;
  letter-spacing: -0.1rem;
}
.home__span2 {
  position: absolute;
  left: 0;
  text-align: left;
  margin-left: 5.2vw;
  margin-top: 4vh;
  color: #dbcfc0;
  text-shadow: 1px 1px 1px #2b2b2b;
  font-weight: 200;
  font-size: 4rem;
  letter-spacing: -0.1rem;
}