.home__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-image: url('../img/home_title_rotate.jpg');
  background-size: 100vw 400vh;
  background-position: center;
  width: 100vw;
  background-color: rgb(161, 161, 161);
  transition: ease 0.9s;
  font-family: 'Oswald', sans-serif;
}
.home_title__wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.home_title__text_wrapper {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home_title__text {
  color: #dbcfc0;
  text-shadow: 2px 6px 3px #000;
  font-size: 9rem;
  font-weight: 400;
  letter-spacing: -0.1rem;
  will-change: transform, opacity;
}
.home_title__text:nth-child(2) {
  font-weight: 200;
  font-size: 4.7rem;
}
.home_title__btn_wrapper {
  color: #dbcfc0;
  text-shadow: 1px 1px 1px #000;
  font-size: 2.4rem;
  font-weight: 200;
  letter-spacing: -0.05rem;
  cursor: pointer;
}
.home_title__btn {
  margin-top: -3vh;
}
/* tablet */
@media only screen and (max-width: 768px) {
  .home__wrapper {
    background-size: 190vw 400vh;
  }
}
/* modile */
@media only screen and (max-width: 576px) {
  .home__wrapper {
    background-size: 400vw 400vh;
  }
  .home_title__text_wrapper {
    margin-bottom: -15vh;
  }
  .home_title__btn {
    margin-top: -1.5vh;
  }
  .home_title__text {
    font-size: 7.5rem;
  }
  .home_title__text:nth-child(2) {
    font-size: 3.7rem;
  }
  .home_title__btn_wrapper {
    font-size: 2.7rem;
    margin-top: 10vh;
  }
}