.people__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.people__title_img {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    margin-top: -50vh;
    margin-left: -50vw;
}
.people__title_arr {
    z-index: 10;
    width: 3vw;
    height: 3vw;
    position: absolute;
    margin-top: 43vh;
    margin-left: -1.5vw;
    cursor: pointer;
    opacity: 0.6;
}