.people__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: 100vw;
    /* background-color: #d3c9c7; */
    background-color: #100f0c94;
    transition: ease 0.9s;
}
.people__title_img {
    width: 100vw;
    height: 100vh;
}
.people__title_arr {
    width: 3vw;
    height: 3vw;
    position: absolute;
    margin-top: 94vh;
    margin-left: -51.5vw;
    cursor: pointer;
    opacity: 0.6;
}
.people__title_arr:hover {
    width: 3.5vw;
    height: 3.5vw;
}
.span_people {
    margin: -2vh 0;
    color: #100f0c;
    opacity: 0.3;
}