.navbar__wrapper {
    width: 100vw;
    height: 20px;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    margin-top: 1vh;
}
.navbar__links_wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
}
.navbar__links {
    text-shadow: 1px 1px 1px #181715dc;
    color: #f1ede3;
    text-decoration: none;
}
.navbar__links:hover {
    font-size: 1.5rem;
}
.burger_btn {
    width: 30px;
    height: 20px;
    margin-left: 85vw;
    position: relative;
    z-index: 30;
}
.burger_btn::before {
    content: ' ';
    position: absolute;
    top: 0;
    width: 30px;
    background-color: #181715dc;
    height: 2px;
}
.burger_btn span {
    position: absolute;
    top: 9px;
    width: 30px;
    background-color: #181715dc;
    height: 2px;
}
.burger_btn::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    width: 30px;
    background-color: #181715dc;
    height: 2px;
}
.menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
}
.menu__content {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(0.4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navbar__burger_links {
    text-shadow: 1px 2px 1px #181715dc;
    color: #f1ede3;
    text-decoration: none;
    font-size: 3rem;
    margin-bottom: 2.5vh;
}