.navbar__wrapper {
    width: 100vw;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    margin-top: 1vh;
}
.navbar__links {
    text-shadow: 1px 1px 1px #181715dc;
    color: #f1ede3;
    text-decoration: none;
}
.navbar__links:hover {
    font-size: 1.5rem;
}