.slideshow {
    margin: 0 auto;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    position: relative;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    box-shadow: 0px 5px 12px rgba(41, 38, 35, 0.342), 0px -5px 12px rgba(41, 38, 35, 0.342);
}
.slide {
    width: 19vw;
    height: 46vh;
    background-size: 19vw 46vh;
}
.slide_width {
    width: 38vw;
    height: 46vh;
    background-size: 38vw 46vh;
}