.slideshow {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    /* height: 44vh; */
    position: relative;
    margin-top: 2.25vh;
    margin-bottom: 2.35vh;
    box-shadow: 0px 5px 12px rgba(41, 38, 35, 0.342), 0px -5px 12px rgba(41, 38, 35, 0.342);
}
.slide {
    width: 18.5vw;
    height: 44vh;
    background-size: 18.5vw 44vh;
}
.slide_width {
    width: 36.5vw;
    height: 44vh;
    background-size: 36.5vw 44vh;
}
@media only screen and (max-width: 912px) {
    .slide {
        width: 42.2vw;
        height: 44.3vh;
        background-size: 42.2vw 44.3vh;
    }
    .slide_width {
        width: 80.2vw;
        height: 44.3vh;
        background-size: 80.2vw 44.3vh;
    }
}