.slideshow {
    margin: 0 auto;
    overflow: hidden;
    margin-top: -20vh;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    position: relative;
}
.b1 {
    margin-top: 2vh;
    margin-bottom: 5vh;
}
.slideshowSlider {
    white-space: nowrap;
    transition: ease 4000ms;
}
.slide_b1 {
    display: inline-block;
    padding: 0.1vw;
    width: 20vw;
    height: 43.5vh;
}
.slide_g1 {
    display: inline-block;
    padding: 0.1vw;
    width: 20vw;
    height: 43.5vh;
}
.slide_g1:nth-child(6){
    width: 35vw;
}
.slide_b1:hover {
    width: 21vw;
    height: 45vh;
    border: 0.5vh solid #100f0c;
}
.slide_g1:hover {
    width: 21vw;
    height: 45vh;
    border: 0.5vh solid #100f0c;
}
.slide_g1:nth-child(6):hover{
    width: 36vw;
}
.body__arr {
    z-index: 10;
    width: 3vw;
    height: 3vw;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
}
.right {
    margin-left: 96.7vw;
}