.slideshow {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    position: relative;
    margin-bottom: 2.2vh;
    margin-top: 2.2vh;
}
.slide {
    width: 19vw;
    height: auto;
}
.slide_width {
    width: 33.8vw;
    height: auto;
}
/* tablet */
@media only screen and (max-width: 768px) {
    .slide {
        width: 32vw;
    }
    .slide_width {
        width: 57vw;
    }
}
/* mobile */
@media only screen and (max-width: 576px) {
    .slide {
        width: 45vw;
    }
    .slide_width {
        width: 80vw;
    }
}