.slideshow {
    margin: 0 auto;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* height: 43vh; */
    width: 100vw;
    position: relative;
    margin-top: 2.6vh;
    margin-bottom: 2.6vh;
}
.slide {
    width: 20vw;
    height: 43.5vh;
    background-size: 20vw 43.5vh;
}
.slide_width {
    width: 35vw;
    height: 43.5vh;
    background-size: 35vw 43.5vh;
}
@media only screen and (max-width: 768px) {
    .slide {
        width: 35vw;
        height: 33vh;
        background-size: 35vw 33vh;
    }
    .slide_width {
        width: 60vw;
        height: 33vh;
        background-size: 60vw 33vh;
    }
}